# File that logs will be written to
LOG=log.txt
# Password reset min days
PASS_MIN_DAYS=7
# Password max expiration days
PASS_MAX_DAYS=90
# Passowrd minimum length
PASS_MIN_LENGTH=8
# Password warning age days
PASS_WARN_AGE=7
# Passord complexity
MIN_DIGITS=1
MIN_SPECIAL=1
MIN_UPPER=1
MIN_LOWER=1
# Numbers of passwords remembered
HISTORY=5
# Account lockout
ATTEMPTS=3
DURATION=600
